<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/dashboard.css" />
    <link rel="icon" href="/Images/favicon.png" type="image/png" />
    <title>Second Chance</title>
  </head>
  <body>
    <%- include("../components/AdminNavBar.ejs") %>
    <div class="container">
      <table>
        <thead>
          <tr>
            <!-- <th>Image</th> -->
            <th>Category</th>
            <th>Sub-Category</th>
            <th>Size</th>
            <th>Status</th>
            <th>Brand</th>
            <th>Price</th>
            <th>Details</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% products.forEach(product => { %>
          <tr>
            <!-- ////////////////////// -->
            <!-- <td><img src="<%= product.images[0] %>" alt=""></td>  -->
            <td><%= product.category %></td>
            <td><%= product.subCategory %></td>
            <td><%= product.size %></td>
            <td><%= product.status %></td>
            <td><%= product.brand %></td>
            <td><%= product.price %></td>
            <td><%= product.details %></td>
            <td><button>edit</button><button data-id="<%= product._id %>" class="delete-button">delete</button></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        document.querySelectorAll(".delete-button").forEach((button) => {
          button.addEventListener("click", async () => {
            const productId = button.getAttribute("data-id");

            const response = await fetch(`/product/${productId}`, {
              method: "DELETE",
            });

            if (response.ok) {
              alert("product deleted successfully");
            } else {
              alert("Failed to delete product");
            }
          });
        });
      });
    </script>
  </body>
</html>
